{{/* boolean feature tags */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* Set boolean feature tags based on current system */}}
{{- if eq .chezmoi.hostname "work-archlinux" }}
{{-   $personal = true -}}
{{ end -}}

{{- $workEmail := promptStringOnce . "workEmail" "Work email address" -}}
{{- $personalEmail := promptStringOnce . "personalEmail" "Personal email address" -}}

[data]
    workEmail = {{ $workEmail | quote }}
    personalEmail = {{ $personalEmail | quote }}
    osid = {{ $osID | quote }}
    personal = {{ $personal }}
