{{/* boolean feature tags */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* Set boolean feature tags based on current system */}}
{{- if eq .chezmoi.hostname "work-archlinux" }}
{{-   $personal = true -}}
{{- end -}}

{{- $workEmail := promptStringOnce . "workEmail" "Work email address" -}}
{{- $personalEmail := promptStringOnce . "personalEmail" "Personal email address" -}}

data:
    workEmail: {{ $workEmail | quote }}
    personalEmail: {{ $personalEmail | quote }}
    osid: {{ $osID | quote }}
    personal: {{ $personal }}

{{- if $personal }}
    bitwarden:
        github_work_repo_token: a00aff84-3b72-485e-91f5-aff40162909e
        ssh_config: 2a009bea-0471-4e8d-b497-b00600cd7fe6
        ssh_id_ed25519: 4cdf8f60-432d-4b1c-b8d2-aff50010b222
        ssh_id_ed25519_pub: 7d425225-9409-4ece-8466-aff500228577
        gnupg_pubring_kbx: 935fda43-a2c0-4638-959b-b00600c0b0fc
        gnupg_trustdb_gpg: 0d3b9c56-5774-487f-8eea-b00600c0a209
{{- end -}}