[user]
	email = {{ .personalEmail | quote }}
	name = Julian POIDEVIN
	signingkey = DD01667A697E933F

[color]
	ui = auto

[core]
	editor = code-insiders
	whitespace = trailing-space,space-before-tab

[fetch]
	fsckobjects = false
	prune = true

[status]
	submoduleSummary = true

[includeIf "gitdir:~/repo/"]
	path = ~/repo/.gitconfig

[commit]
	gpgsign = true
