#!/bin/sh
{{ if eq .osid "linux-arch" }}

#Install yay-bin of not available
if ! command -v yay &> /dev/null
then
    sudo pacman -S --needed git base-devel && git clone https://aur.archlinux.org/yay.git && cd yay-bin && makepkg -si
fi

SHELL_PACKAGES="\
    zsh \
    zsh-thefuck-git \
    ttf-jetbrains-mono-nerd \
"

DEV_PACKAGES="\
    base-devel \
"

HARDWARE_PACKAGES="\
    evdi \
    displaylink \
"

UTILS_PACKAGES="\
    docker \
    docker-compose \
    docker-buildx \
    google-chrome \
    vtop \
    bmap-tools \
    can-utils \
    dropbox \
    programmer-calculator \
"

HYPRLAND_DE="\
    ttf-font-awesome \
    ttf-jetbrains-mono-nerd \
    ttf-iosevka-nerd \
    waybar-hyprland-git \
    waybar-updates \
    rofi \
    dunst \
    kitty \
    swaybg \
    swaylock-effects-git \
    swayidle \
    pamixer \
    brightnessctl \
    canva \
    grim \
    slurp \
    swappy \
    pavucontrol \
    nemo \
    sddm-theme-tokyo-night \
    pacman-contrib \
    nwg-look-bin \
"

yay -Sy --noconfirm --needed \
    $SHELL_PACKAGES \
    $HARDWARE_PACKAGES \
    $DEV_PACKAGES \
    $UTILS_PACKAGES \
    $HYPRLAND_DE

# Install rofi-addons
git clone https://github.com/julian-poidevin/rofi-addons-pkg.git && \
cd rofi-addons-pkg && \
makepkg -si --noconfirm && \
cd ../ && rm -rf rofi-addons-pkg

# Add user to the docker group
sudo usermod $USER --append --group docker

{{- if eq .chezmoi.hostname "work-archlinux" }}
# Install extra packages needed for work
yay -Sy --noconfirm --needed \
    picoscope7beta

# Add user to the pico group (for picoscope software)
sudo usermod $USER --append --group pico
{{- end }}

{{ end -}}