[user]
	email = {{ .workEmail | quote }}
	name = Julian POIDEVIN
	signingkey = DD01667A697E933F

[color]
	ui = auto

[core]
	editor = code-insiders
	whitespace = trailing-space,space-before-tab

[fetch]
	fsckobjects = false
	prune = true

[status]
	submoduleSummary = true

[commit]
	gpgsign = true
